//-Home page with relevant information about the group and project.
extends layout

append head
	title VisCrime - About our work

block content
	.container
		.section
			.row.valign-wrapper
				.col.s12.m8.l8
					h5 Image Classification
                    p Part of our work was to manually annotate and classify the images that we had
			.divider
			.row.valign-wrapper
				.col.s12.m8.l8
					h5 Deep Learning 
                    p As part of the work we've done
			.divider
			.row.valign-wrapper
				.col.s12.m8.l8
					h5 Social Media Scraping 
                    p We have used a script to 
			.divider
			.row.valign-wrapper
				.col.s12.m8.l8
					h5 Image Locations
					p The image locations we are using are mocked up.
			.divider