//-Verify page to check each Tweet.
//-Used to train NLP
extends layout

append head
	title VisCrime - Config

block content
	.container
		.section
			.row
				.col.s12
					h4 Manual Image Checking
					p Your input will aid the NLP model in learning how to recognise images.	
			.row
				.col.s12
						.row
							.col-sm-6
								form(action='/checkImage' method='POST')
										input(type='text' name='hash' value=image+'.jpg' hidden='')
										h6 Type of Crime
										p
											label
												
												input(name='crimes', type='checkbox', value='1')
												span NoCrime
										p
											label
												input(name='crimes', type='checkbox', value='2')
												span Assault
										p
											label
												input(name='crimes', type='checkbox', value='4')
												span Theft
										p
											label
												input(name='crimes', type='checkbox', value='8')
												span Gun
										p
											label
												input(name='crimes', type='checkbox', value='16')
												span Drugs
										p
											label
												input(name='crimes', type='checkbox', value='32')
												span Property Damage
										p
											label
												input(name='crimes', type='checkbox', value='64')
												span Homicide
										p
											label
												input(name='crimes', type='checkbox', value='128')
												span Vehicular
										p
											label
												input(name='crimes', type='checkbox', value='256')
												span Sex Offence
										p
											label
												input(name='crimes', type='checkbox', value='512')
												span Hostage
										button.btn.waves-effect.waves-light.green(type='submit') SUBMIT
								.col-sm-6
										h1.text-center
											img.img-fluid(src=image)